<template>
  <card :title="$t('home')">
    {{ $t('you_are_logged_in ') }}
    <br>
  <router-link to="/profile"class="btn btn-danger">
    Lihat Profil Saya
  </router-link>

  </card>
</template>

<script>
export default {
  middleware: 'auth',

  head () {
    return { title: this.$t('home') }
  }
}
</script>
